# ambiente virtual
venv/

# python
__pycache__/
*.pyc
*.pyo
*.pyd

# environment
.env

# streamlit secrets
.streamlit/secrets.toml

# sistema
.DS_Store
Thumbs.db

# notebooks
.ipynb_checkpoints

# arquivos de dados
*.csv
*.parquet
!studies.parquetgit pull